
<%- include('partials/dashboardHeader')%>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 929.391px;">
    <!-- Content Header (Page header) -->
		<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <!-- Main content -->
     <section class="content">
        <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
                   
  
    
  
    
            <!-- Profile Image -->
            <div class="card">
              <div class="card-body text-center">
                <div class="row">
                  <div id="avatar-holder" class="col-md-12">
                    <img id="avatar-img" width="40px" height="100px" class="img profile-user-img img-responsive img-circle" src="assets/upload/avatar.png" alt="User profile picture">
                    <h5 class="mt-3 mb-0"><b><%=user.fullname%></b></h5>
                    <p><%=user.email%></p>
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="col-md-8">
            <div class="card">
                  <div class="card-body">
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item shadow mb-3 mr-2">
                          <a class="nav-link active" id="account-details-tab" data-toggle="tab" href="#account-details" role="tab" aria-controls="account-details" aria-selected="true">Account Details</a>
                        </li>
                        
                                                                  </ul>
                      <!-- Tab panes -->
                      <div class="tab-content mt-3 mx-0">
                          <div class="tab-pane active" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                <form class="form-horizontal" method="POST" action="">
                                    <input type="hidden" name="" value=""> 
                                         <input type="hidden" name="" value="">  
                                        <div class="row form-group">
                                          <div class="col-md-6 mt-1">
                                            <div><label class="label-block">Status</label></div>
                                            <select class="form-control" name="status" disabled="">
                                              <option value="active"><%=user.verifiedStatus%></option>
                                            </select>
                                          </div>
                                          <div class="col-md-6 mb-1 mt-2">
                                            <div><label class="label-block">Full Name</label></div>
                                            <input type="text" name="fullname" value="<%=user.fullname%>" class="form-control" disabled>
                                              <div class="text-danger"></div>
                                                                                      </div>
                                                                      <div class="col-md-6 mb-1 mt-2">
                                                                        <div><label class="label-block">profile id</label></div>
                                                                        <input type="text" name="fullname" value="<%=user._id%>" class="form-control" disabled>
                                                                     <div class="text-danger"></div>
                                                                                         </div>
                                          <div class="col-md-6 mt-1">
                                            <div><label class="label-block">Phone</label></div>
                                            <input type="tel" name="phone" value="<%=user.tel%>" class="form-control" placeholder="Phone" disabled>
                                              <div class="text-danger"></div>
                                                                                    </div>
                                          <div class="col-md-6 mt-1">
                                            <label for="mobile">Country</label>
                                          <input type="text" name="Country" value="<%=user.country%>" class="form-control" placeholder="Country" disabled>
                                                                                        
                                          </div>

                                          <div class="col-md-6 mt-1">
                                            <label for="mobile">Account Level</label>
                                          <input type="text" name="account" value="<%=user.level%>" class="form-control" placeholder="account level" disabled>
                                                                                        
                                          </div>
  
                                    </div>
                                    <!-- <div class="col-md-8 mx-auto">
                                      <button type="submit" name="update-account" class="btn btn-primary col-sm-12">Update Account</button>
                                    </div> -->
                              </form>
                          </div>
                          <div class="tab-pane" id="login-details" role="tabpanel" aria-labelledby="login-details-tab">
                            <form class="form-horizontal" method="POST" action="">
                                <input type="hidden" name="_token" value="rv8AKzrB5AqqrtssoCnrWglccIGGWxelew6GnpRs">                                  <div class="row form-group">
                                          <div class="col-md-6">
                                            <div><label class="label-block">Email</label></div>
                                            <input type="text" name="email" value="gressieowens@gmail.com" class="form-control">
                                              <div class="text-danger"></div>
                                                                                    </div>
  
                                          <div class="col-md-6 my-1">
                                            <div><label class="label-block">Password</label></div>
                                            <input type="password" name="password" value="" placeholder="Leave blank if you don't want to change" class="form-control" autocomplete="off">
                                              <div class="text-danger"></div>
                                                                                    </div>
                                          <div class="col-md-6 my-1">
                                            <div><label class="label-block">Confirm Password</label></div>
                                            <input type="password" name="password_confirmation" value="" placeholder="Leave blank if you don't want to change" class="form-control" autocomplete="off">
                                              <div class="text-danger"></div>
                                                                                    </div>
                                    </div>
                                    <div class="col-md-8 mx-auto">
                                  </div>
                                <button type="submit" name="update-login-details" class="btn btn-primary col-sm-12">Update Login Details</button>
                            </form>
                          </div>
                                                  <div class="tab-pane" id="bank-details" role="tabpanel" aria-labelledby="bank-details-tab">
                            <form class="form-horizontal" method="POST" action="">
                                <input type="hidden" name="_token" value="rv8AKzrB5AqqrtssoCnrWglccIGGWxelew6GnpRs">                                  <div class="row form-group">
                                          <div class="col-md-12">
                                            <div><label class="label-block">Bank Name</label></div>
                                            <input type="text" name="bank_name" value="chase" class="form-control" placeholder="Bank Name">
                                              <div class="text-danger"></div>
                                                                                    </div>
                                          <div class="col-md-12">
                                            <div><label class="label-block">Account Name</label></div>
                                            <input type="text" name="account_name" class="form-control" placeholder="Account Name" value="peter hungary">
                                              <div class="text-danger"></div>
                                                                                    </div>
                                          <div class="col-md-12">
                                            <div><label class="label-block">Account Number</label></div>
                                            <input type="text" name="account_number" value="355674653625" class="form-control" placeholder="Account Number">
                                              <div class="text-danger"></div>
                                                                                    </div>
                                    </div>
                                    <div class="col-md-8 mx-auto">
                                    <button type="submit" name="update-bank-details" class="btn btn-primary col-sm-12">Update Bank Details</button>
                                  </div>
                            </form>
                          </div>
                                                                      </div>
                  </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
              <!-- /.row -->
            </div>
  
      </section>
            <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  



<%- include('partials/dashboardFooter')%>